@font-face {
    font-family: product-sans;
    src: url('../../fonts/SVN-Product-Sans-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: americana;
    src: url('../../fonts/UTM Americana.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

ul > li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    // font-family: 'SF-font', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


h1,h2,h3,h4,h5 {
    font-family: 'americana', sans-serif;

}

@media screen and (max-width: 768px) {
    p {
        font-size: 18px!important;
    }

    h1 {
        font-size: 30px;
    }

    h2  {
        font-size: 22px;
    }
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbbd9a; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: 
    #cbbd9a; 
  }
