.fixed {
  display: none;

  .bg-tag {
    width: 100vw;
    bottom: 0;
    height: 100px;
    display: flex;
    z-index: 100;
    position: fixed;
    flex-direction: row;
    background-color: rgba(29, 30, 34, 0.6);
  }

  &-price {
    p {
      margin: 0;
    }

    p:first-child {
      color: #ffffff;
      font-size: 24px;
    }

    p:nth-child(2) {
      color: #ffffff;
      font-size: 15px;
      line-height: 20px;
      text-decoration: line-through;
    }

    &_btn {
      color: #fff;
      background-color: #3777bc;
      border-radius: 50px;

      font-size: 18px;
      line-height: 20px;

      margin-right: 20px;
      padding: 10px 0;

      display: flex;
      justify-content: center;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .fixed {
    display: block;
  }
}
