@keyframes scalePicture {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.carousel-item {
  max-width: 100%;
}

.carousel-img {
  max-width: 100%;
  position: relative;

  animation: scalePicture infinite;
  animation-duration: 20s;
}

.dark-layout {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
}

.carousel-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 100px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    letter-spacing: 0.8rem;
    .text-1 {
      letter-spacing: 0rem;
    }
  }

  p {
    font-size: 30px;
    letter-spacing: 1.2rem;
  }

  .text-2 {
    font-size: 70px;
  }
}

.shadow-text h1 {
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.5) !important;
}

.shadow-text p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8) !important;
}
.slick-dots {
  bottom: 100px;
}
.slick-dots li {
  width: 50px;
  margin: 0 10px;
  transition: all 0.3s;
}
.slick-dots li button::before {
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
}
.slick-dots li.slick-active button:before {
  color: white;
  transition: all 0.3s;
}

.video-container {
  margin-top: 100px;
}
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-weight: bold;
    font-size: 28px;
    font-family: "Libre Baskerville", serif;
  }
  .button-register {
    padding: 15px 32px;
    background-color: #f0932b;
    transition: all 0.3s;
    border-radius: 5px;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: #fff;
  }
}

.button-register:hover {
  background-color: #ffbe76;
}

.video-content {
  position: relative;
}

.button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.3s;
}
.button-play:hover {
  &::after {
    width: 60px;
    height: 60px;
  }
  & i {
    font-size: 18px;
  }
}

.button-play i {
  color: #fff;
  transition: all 0.3s;
}

.button-play::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.intro-clip {
  background-size: 100% 100%;
  margin: 0 auto;
  background-color: #dfdddd;

  .react-multi-carousel-item {
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro-clip_logo {
    position: relative !important;

    .item-logo-htv {
      width: 230px;
      height: 122px;
      padding: 20px;
      filter: grayscale(1);
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        filter: grayscale(0);
      }
    }

    .item-logo-vtv {
      width: 210px;
      height: 90px;
      padding: 20px;
      filter: grayscale(1);
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        filter: grayscale(0);
      }
    }

    .item-logo-tienphong {
      width: 210px;
      height: 90px;
      padding: 20px;
      filter: grayscale(1);
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        filter: grayscale(0);
      }
    }

    .item-logo-phunu {
      width: 210px;
      height: 90px;
      padding: 20px;
      filter: grayscale(1);
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        filter: grayscale(0);
      }
    }

    .item-logo-doanhnhan {
      width: 210px;
      height: 90px;
      padding: 20px;
      filter: grayscale(1);
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

@media screen and (max-width: 1550px) {
   .carousel-text {
       h1 {
           font-size: 70px;
       }
       .text-2 {
        font-size: 45px;
       }
   }
  }
  

@media screen and (max-width: 1440px) {
    .carousel-text {
        h1 {
            font-size: 60px;
        }
        p {
            font-size: 25px;
        }
        .text-2 {
         font-size: 40px;
        }
    }
  }
  

@media screen and (max-width: 992px) {
    .carousel-text {
        h1 {
            font-size: 55px;
        }
        p {
            font-size: 22px;
        }
        .text-2 {
         font-size: 40px;
        }
    }
  .video-content {
    margin-top: 30px;
  }
  .slick-dots {
    display: none!important;
}
}

@media screen and (max-width: 768px) {
    .carousel-text {
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 17px;
            letter-spacing: 0.6rem;
        }
        .text-2 {
         font-size: 30px;
        }
    }
 
}


@media screen and (max-width: 550px) {
    .carousel-text {
        h1 {
            font-size: 35px;
        }
        p {
            font-size: 16px;
            letter-spacing: 0.5rem;
        }
        .text-2 {
         font-size: 24px;
        }
    }
  
}