@keyframes scalePicture {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.carousel-item {
  max-width: 100%;
}

.carousel-img {
  max-width: 100%;
  position: relative;

  animation: scalePicture infinite;
  animation-duration: 20s;
}

.dark-layout {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
}

.carousel-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 100px;
    font-weight: bold;
    font-family: "Libre Baskerville", serif;
    letter-spacing: 0.8rem;
    .text-1 {
      letter-spacing: 0rem;
    }
  }

  p {
    font-size: 30px;
    letter-spacing: 1.2rem;
  }

  .text-2 {
    font-size: 70px;
  }
}

.shadow-text h1 {
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.5) !important;
}

.shadow-text p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8) !important;
}
.slick-dots {
  bottom: 100px;
}
.slick-dots li {
  width: 50px;
  margin: 0 10px;
  transition: all 0.3s;
}
.slick-dots li button::before {
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
}
.slick-dots li.slick-active button:before {
  color: white;
  transition: all 0.3s;
}

.video-container {
  margin: 80px auto;
}
.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-weight: bold;
    font-size: 28px;
    font-family: "Libre Baskerville", serif;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.63;
    font-kerning: normal;
    margin: 0 0 2rem;
  }

  .button-register {
    padding: 15px 32px;
    background-color: #f0932b;
    transition: all 0.3s;
    border-radius: 5px;
    outline: none;
    border: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #f0932b;

    &:hover {
      background-color: #fff;
    border: 1px solid #f0932b;
    color: #f0932b;

    }
  }
}



.video-content {
  position: relative;

  img {
    border-radius: 16px;
  }
}

.button-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.3s;
}
.button-play:hover {
  &::after {
    width: 60px;
    height: 60px;
  }
  & i {
    font-size: 18px;
  }
}

.button-play i {
  color: #fff;
  transition: all 0.3s;
}

.button-play::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.title {
  margin: 0;
  text-align: center;
  color: #7E7E7E;
  text-transform: uppercase;
  padding-top: 10px;
  font-family: "Noto Serif", serif;
  font-weight: 700; 
}
.title-logo {
  margin: 0 auto;
  background-color: #F7F7F7;
  color: #fff;
}

.intro-clip {
  background-size: 100% 100%;
  margin: 0 auto;
  background-color: #F7F7F7;

  .react-multi-carousel-item {
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro-clip_logo {
    position: relative !important;

    .item-logo-htv {
      width: 200px;
      height: 100px;
      padding: 20px;
      filter: grayscale(1);
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        filter: grayscale(0);
      }
    }

    .item-logo-vtv {
      width: 180px;
      height: 80px;
      padding: 20px;
      filter: grayscale(1);
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        filter: grayscale(0);
      }
    }

    .item-logo-tienphong {
      width: 180px;
      height: 80px;
      padding: 20px;
      filter: grayscale(1);
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        filter: grayscale(0);
      }
    }

    .item-logo-phunu {
      width: 180px;
      height: 80px;
      padding: 20px;
      filter: grayscale(1);
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        filter: grayscale(0);
      }
    }

    .item-logo-doanhnhan {
      width: 180px;
      height: 80px;
      padding: 20px;
      filter: grayscale(1);
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

.bg-item {
  background-image: url("../../../../assets/images/bgItem.jpg");
  background-attachment: fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.buttonToggleDay {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: transparent;
  margin-right: 20px;
  margin-top: 50px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  transition: all 0.3s;
}
.stepper {
  display: flex;
}

.buttonToggleDay:hover {
  background-color: #f39c12;
  color: #fff;
}
.center-content {
  justify-content: center;
}
.text-heading {
  font-weight: bold;
  font-size: 50px;
  font-family: "Noto Serif", serif;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 32px;
}

.price {
  padding-top: 50px;
  padding-bottom: 80px;
  background: linear-gradient(45deg ,#f39c12 , #f1c40f );
}

.review {
  padding-top: 50px;
  padding-bottom: 80px;
  background: #fff;

}

.heading_person {
  font-weight: bold;
  font-size: 50px;
  font-family: "Noto Serif", serif;
  text-transform: uppercase;
  margin-bottom: 32px;
  text-align: center;
}
.review {

  .react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
    background: rgba(0,0,0,0.3);
    &:hover {
    background: rgba(0,0,0,0.7);

    }
  }

  .react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
    background: rgba(0,0,0,0.3);
    &:hover {
      background: rgba(0,0,0,0.7);
  
      }
  }
}
@media screen and (max-width: 1550px) {
  .carousel-text {
    h1 {
      font-size: 70px;
    }
    .text-2 {
      font-size: 45px;
    }
  }
}
.dp-big {
  display: block;
}

.dp-small {
  display: none;
}

@media screen and (max-width: 1440px) {
  .carousel-text {
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 25px;
    }
    .text-2 {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 992px) {
  .dp-big {
    display: none;
  }
  .dp-small {
    display: block;
    margin: 0 auto;
  }
  .carousel-text {
    h1 {
      font-size: 55px;
    }
    p {
      font-size: 22px;
    }
    .text-2 {
      font-size: 40px;
    }
  }
  .video-content {
    margin-top: 50px;
  }
  .slick-dots {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .text-heading {
    font-size: 35px;
  }
  .heading_person {
    font-size: 35px;
  }
  .carousel-item {
    height: 100vh;
  }
  .carousel-img {
    height: 100vh;

  }
  .carousel-text {
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 20px;
      letter-spacing: 0.6rem;
    }
    .text-2 {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 550px) {
  .carousel-text {
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 16px;
      letter-spacing: 0.5rem;
    }
    .text-2 {
      font-size: 24px;
    }
  }
}
