$c-heading: #3777bc;
$c-description: #333;
$size-heading: 32px;
$size-description: 14px;

.title {
  h2 {
    font-size: $size-heading;
    text-align: left;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0px;
    color: $c-heading !important;
    text-transform: uppercase;
  }

  p {
    font-size: $size-description;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    color: $c-description !important;
  }
}
