.title {
  
  h2 {
    color: #ffffff;
    font-size: 32px;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0px;
  }

  p {
    color: #ffffff;
    font-size: 13px;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
  }
}
