footer {
  padding-top: 60px;
  .logo {
    display: flex;
    justify-content: center;
  }
  .container {
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .name {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    margin-bottom: 16px;
    margin-top: 25px;
  }
  .f-line {
    font-size: 16px;
    font-weight: 600;
    color: #3b3b3b;
    text-align: center;
    margin-bottom: 12px;
  }
}

.foot {
  background: #103e79;
  line-height: 24px;
  padding: 20px 0;
  color: #fff;
}
