.course-container {
  width: 60%;
  margin: 0 auto;
}
.problem-block {
  background-image: url("/assets/images/background1.png");
  background-size: 100% 100%;
  height: 335px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.change-block {
  background-image: url("/assets/images/background2.png");
  background-size: 100% 100%;

  img {
    max-width: 100%;
  }

  .img-title {
    margin: 0 auto;
    max-width: 50%;
  }

  .item-change_text {
    color: white;
    font-size: 20px;
    text-align: center;
  }
}

.bg-gradient-1 {
  background-image: linear-gradient(to top, #e21b81, #49005d);
  background-size: 100% 100%;
  padding-top: 20px;
}

.bg-gradient-2 {
    background-image: linear-gradient(to bottom, #e21b81, #49005d);
    background-size: 100% 100%;
    padding-top: 20px;
  }

.item-change_title2 {
  color: white;
  text-shadow: 0 0 20px #ff398a;
  border: transparent;
  font-style: italic;
  max-width: 80%;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}

.benefits-block {
    background-image: url("https://lpe.vn/storage/vip-lpe/backgroundcacvande.png");
    background-size: cover;
    text-align: center;
}

.areaMap-block {
    background-image: url("https://lpe.vn/storage/vip-lpe/backgroundcacvande.png");
    background-size: cover;
    text-align: center;

    .bg-white {
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}



.seatMap-block {
    background-image: url("https://lpe.vn/storage/vip-lpe/backgroundcacvande.png");
    background-size: cover;
    text-align: center;

    .bg-white {
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.endow-block {
    background-image: linear-gradient(to bottom, #49005d,#e21b81);
    background-size: 100% 100%;
    padding-top: 20px;
}