.MuiAppBar-colorPrimary {
  color: #fff !important;
  background: #fff !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #3777bc !important;
}
