.MuiAppBar-colorPrimary {
    color: #fff!important;
    background-color: #1d1e22!important;
}
.MuiTabs-indicator {
    color: #feda6a!important;
}

.MuiPaper-elevation4 {
    box-shadow: none!important;
}

.MuiTab-textColorPrimary {
    color: #d4d4dc!important;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #feda6a!important;

}
.PrivateTabIndicator-colorSecondary-3 {
    background-color: #feda6a!important;
}