@import "../../../../../assets/styles/common.scss";

.slider{
    img{
        width:1903x;
    }
}


.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}