$color-status-1: #3bb54a;
$size-icon: 80px;
$size-circle: 150px;
$border-width: 5px;

.wrapper-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .bill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
  }

  .check-success {
    width: $size-circle;
    height: $size-circle;
    border: $border-width solid $color-status-1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    i {
      font-size: $size-icon;
      color: $color-status-1;
    }
  }
}

.wrapper-content {
  .bill {
    .content-head {
      color: $color-status-1;
      font-size: 25px;
    }
    .content-body {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 769px) {
  .wrapper-content {
    .bill {
      width: 80% !important;
    }
  }
}
@media screen and (max-width: 545px) {
  .wrapper-content {
    .bill {
      width: 100% !important;
      padding: 20px;
    }
  }
}
