@media screen and (max-width: 600px) {
  .bg-content {
    h2 {
      color: #fff;
    }
  }
}

.coach {
  display: flex;
}
.slider-course {
  .slick-dots {
    bottom: -34px;

    .slick-active {
      button {
        &:before {
          color: #fff;
          opacity: 1;
        }
      }
    }

    li {
      button {
        &:before {
          color: #fff;
          opacity: 0.25;
        }
      }
    }
  }
}

//  test scroll vertial
.wrapper-div {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aab9bb;
    border-radius: 20px;
    border: 3px solid #fff;
  }

  .item {
    min-width: 110px;
    height: 110px;
    background-color: red;
    margin-right: 15px;
    scroll-snap-align: start;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-div {
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}
