.jss110 {
  width: 95vw;
  height: 100%;

  .jss111 {
    width: 100%;
    height: 48vw;
    overflow: hidden;
    position: relative;
  }
}

.bg-webpage {
  width: 40vw;
  height: 40vw;
  background-attachment: fixed;
  transform: scale(1.4);
  border-radius: 100%;
  transition: all 1s ease;
  background-size: cover !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(https://previews.123rf.com/images/rido/rido1605/rido160500161/56370535-young-school-boy-studying-at-home-boy-doing-homework-in-study-room-boy-preparing-for-exams-.jpg),
    url(https://previews.123rf.com/images/rido/rido1605/rido160500161/56370535-young-school-boy-studying-at-home-boy-doing-homework-in-study-room-boy-preparing-for-exams-.jpg);
}

.bg-content {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: calc(0.2 * 100vw);
  left: calc(0.3 * 100vw);
  text-transform: uppercase;

  h2 {
    font-size: 54px !important;
    color: #333;
    line-height: 66px;
  }
}

@media screen and (max-width: 600px) {
  .bg-content {
    h2 {
      color: #fff;
    }
  }
}

.coach {
  display: flex;
}
.slider-course {
  .slick-dots {
    bottom: -34px;

    .slick-active {
      button {
        &:before {
          color: #fff;
          opacity: 1;
        }
      }
    }

    li {
      button {
        &:before {
          color: #fff;
          opacity: 0.25;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .bg-content {
    h2 {
      width: 70vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .bg-content {
    top: calc(0.16 * 100vw);
    left: calc(0.3 * 100vw);
    h2 {
      font-size: 35px !important;
      width: 50vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .jss110 {
    width: 100%;
  }

  .bg-webpage {
    border-radius: unset;
    height: 100%;
    width: 100vw;
  }

  .bg-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      font-size: 28px !important;
      line-height: unset !important;
      width: 50vw;
    }
  }
}

//  test scroll vertial
.wrapper-div {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aab9bb;
    border-radius: 20px;
    border: 3px solid #fff;
  }

  .item {
    min-width: 110px;
    height: 110px;
    background-color: red;
    margin-right: 15px;
    scroll-snap-align: start;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-div {
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}
