.comment {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;

    &-person {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &_img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin-right: 20px;
        }

        &_info {
           p {
               margin: 0;
           }

           p:first-child {
               font-size: 23px;
           }
        }
    }

    &-content {
        p {
        margin: 0;

        }
    }
}

@media screen and (max-width: 768px) {
    .comment {
        margin-top: 20px;
    }
}