@import "../../../../assets/styles/common.scss";

// Footer
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  background: $c-lightPurple-2;

  .bg-light {
    background: #000;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .name {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    margin-bottom: 16px;
    margin-top: 25px;
  }

  .f-line {
    font-size: 16px;
    font-weight: bold;
    color: $c-black-0;
    text-align: center;
    margin-bottom: 12px;
    color: #fff;
    i {
      margin-right: 5px;
      font-size: 13px;
    }
    .f-line_phone {
      margin-right: 8px;
    }
    .f-line_envelope {
      i {
        font-size: 15px;
      }
    }
  }

  .footer-connect {
    border-top: 1px solid $c-gray-4;
    width: 70%;
    margin: 0 auto;
    margin-top: 37px;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;

    .footer-connect_left {
      font-size: 14px;
      font-weight: $fw-bold;
      display: flex;
      align-items: center;

      .connect-left_text {
        margin-right: 5px !important;
      }

      .button-circle {
        font-size: 16px;
        width: 40px !important;
        height: 40px !important;
        background-color: #000;
        transition: all 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          color: #fff;
          border: none;
        }
      }
    }

    .footer-connect_right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .connect-right_list {
        list-style: none;
        display: flex;
        margin-bottom: 0px;
        font-size: 14px;

        li > a {
          color: $c-black-0;
          transition: all 0.3s;

          &:hover {
            text-decoration: none !important;
          }
        }
      }
    }
  }

  .foot {
    line-height: 24px;
    padding: 20px 0;
    color: #fff;

    .footer-text {
      width: 70%;
      margin: 0 auto;
      font-size: 14px;

      display: flex;
      justify-content: space-between;

      .footer-text_right {
        text-align: right;
        a {
          transition: all 0.3s;
          color: #fff;
          &:hover {
            text-decoration: none !important;
          }
        }
      }
    }
  }
}

// navbar
.navbar {
  background: $c-white-0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  transition: 0.5s;
  margin-bottom: 60px;
  z-index: 99;

  .listNavbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .itemNavbar {
      padding: 10px 60px;

      &:hover a {
        color: $c-lightPink-1;
      }
    }

    .img-logo {
      height: 60px;
    }

    .itemLogo {
      padding: 10px 30px;
    }
  }
  a {
    color: $c-black-0;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav {
    width: 100%;
    margin: 0 auto;
  }
}

.navbar-dp-small {
  display: none;
}

.navbar-dp-big {
  display: block;
}

.navMobile {
  height: 0;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .navbar-dp-big {
    display: none;
  }

  .navbar-dp-small {
    display: block;
  }

  .navbar {
    &.navbarSmall {
      .listNavbar {
        justify-content: space-between;
        .itemNavbar {
          cursor: pointer;
          i {
            color: $c-black-0;
          }
        }
      }
    }
  }

  .navMobile {
    display: none;
  }

  .nav-open {
    .navMobile {
      display: block;
      height: 100%;
      transition: all 0.5s;
      .itemNavbar {
        padding: 10px 20px;
        transition: all 0.3s;
        &:hover {
          background-color: $c-lightPink-1;
          cursor: pointer;
        }

        a {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
  .navbarSmall {
    padding: 0;
  }
  .bg-course {
    margin-top: 44px !important;
  }
}

.letter-title {
  font-family: 'Signwriter', sans-serif;
  font-size: 90px;
  color: #696969;
}

.letter-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// BG
.bg-course {
  background-image: url("../../../../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  text-align: center;
}
.course {
  h1 {
    color: $c-white-0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
  }
}

// Giới thiệu chương trình

.route-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-description {
  background-color: $c-lightPink-2;
  text-align: center;
  padding: 50px 0;

  position: relative;
  text-align: center;
}

.bg-description p {
  font-size: 20px;
}

// Card lật

.front-face,
.contents,
.back-face {
  position: absolute;
}

.center {
  height: 400px;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.front-face,
.back-face {
  height: 100%;
  width: 100%;
  text-align: center;
  background: $c-lightPink-1;
  background-size: cover;
  background-position: center;
  transform: translateY(0deg);
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.contents {
  left: 0%;
  top: 50%;
  width: 100%;
  perspective: 1000px;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
}

.front p {
  font-size: 35px;
  margin-bottom: 15px;
  color: white;
}

.front span {
  font-size: 23px;
  color: white;
}

.front p:after {
  content: "";
  display: block;
  left: 0;
  right: 0;
  width: 100px;
  height: 2px;
  background: white;
  margin: 0 auto;
  margin-top: 10px;
}

.back-face {
  transform: rotateY(180deg);
  background: $c-lightPink-2;
}

.back {
  color: white;
}

.back h2 {
  font-size: 33px;
  padding-bottom: 5px;
}

.back span {
  font-size: 25px;
}

.icons {
  margin: 10px 0;
  display: block;
}

i.fab {
  color: #042f4b;
  font-size: 20px;
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  margin: 0 5px;
  line-height: 40px;
  cursor: pointer;
}

.center:hover > .back-face {
  transform: rotateY(0deg);
}

.center:hover > .front-face {
  transform: rotateY(-180deg);
}

.wrapper-card {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.wrapper-bio {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Form dang ky
.wrapper-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .borderForm {
    background: #fff;
    border-radius: 20px;
    padding: 20px 50px;
    width: 600px;
  }
  .wrapper-button {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      color: $c-white-0;
      margin-top: 20px;
      background-color: $c-lightPink-1;
      padding: 10px 20px;
      transition: all 0.5s;
      border: none;
      margin-bottom: 20px;
      border-radius: 10px;

      &:hover {
        background-color: #fdb6a8;
      }
    }
  }
}

.form-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;

  label {
    text-transform: uppercase;
    color: #ffbfb3;
    font-weight: 600;
  }

  input,
  select {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: 2px solid $c-gray-4;

    &:focus {
      border: 2px solid $c-lightPink-2;
    }
  }

  ::placeholder {
    color: $c-gray-3;
    font-size: 15px;
    opacity: 1;
  }
}

.bg-dangKy {
  background: $c-lightPink-1;
}

.waves {
  position: relative;
  width: 100%;
  bottom: -60px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .waves {
    bottom: -50px;
  }
}

@media screen and (max-width: 1240px) {
  .navbar .listNavbar .itemNavbar {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 1040px) {
  .navbar .listNavbar .itemNavbar {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 940px) {
  .navbar .listNavbar .itemNavbar {
    padding: 10px 25px;
  }
}

@media screen and (max-width: 888px) {
  .navbar .listNavbar .itemNavbar {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 840px) {
  .navbar .listNavbar .itemNavbar {
    padding: 10px 12px;
    a {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  .img-logo {
    height: 40px!important;
  }
}

.bg-xinChao {
  margin-bottom: 20px;
  
}

.heading-title {
  font-family: 'Crimson Text', serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .letter-title {
    font-size: 60px;
  }
}


@media screen and (max-width: 768px) {
  .heading-title {
    font-size: 35px;
  }

  .wrapper-form .borderForm {
    border-radius: 0;
  }
}