@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700|IBM+Plex+Sans:500&display=swap");

:root {
  --base-duration: 600ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

// =========================
// Global
// =========================

.visuallyhidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

// =========================
// Icons
// =========================

// =========================
// Buttons
// =========================

.btn-detail {
  background-color: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem 2.5rem 1.125rem;

  &:focus {
    outline-color: var(--color-focus);
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 3px;
  }

  &:active {
    transform: translateY(1px);
  }
}


// =========================
// Slider
// =========================

.slider {
  --slide-size: 40vmin;
  --slide-margin: 4vmin;

  width: var(--slide-size);
  height: var(--slide-size);
  margin: 0 auto;
}

.slider__wrapper {
  display: flex;
  position: absolute;
  transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
}

// =========================
// Slide
// =========================

.slide {
  text-align: center;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: var(--slide-size);
  height: var(--slide-size);

  position: relative;
  color: white;
  margin: 0 var(--slide-margin);
  opacity: 0.25;
  transition: opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);
  z-index: 1;

  &--previous,
  &--next {
    &:hover {
      opacity: 0.5;
    }
  }

  &--previous {
    cursor: w-resize;

    &:hover {
      transform: translateX(2%);
    }
  }

  &--next {
    cursor: e-resize;

    &:hover {
      transform: translateX(-2%);
    }
  }
}

.slide--current {
  //   --x: 0;
  //   --y: 0;
  //   --d: 50;

  opacity: 1;
  pointer-events: auto;
  user-select: auto;

  @media (hover: hover) {
    &:hover .slide__image-wrapper {
      transform: scale(1.025);
      // translate(
      //   calc(var(--x) / var(--d) * 1px),
      //   calc(var(--y) / var(--d) * 1px)
      // );
    }
  }
}

.slide__image-wrapper {
  background-color: var(--color-accent);
  border-radius: 1%;
  height: 100%;
  left: 0%;
  overflow: hidden;
  position: absolute;
  top: 0%;
  transition: transform calc(var(--base-duration) / 4) var(--base-ease);
  width: 100%;
}

.slide__image {
  --d: 20;

  height: 110%;
  left: -5%;
  object-fit: cover;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -5%;
  transition: opacity var(--base-duration) var(--base-ease),
    transform var(--base-duration) var(--base-ease);
  user-select: none;
  width: 110%;

  @media (hover: hover) {
    .slide--current & {
      transform: translate(
        calc(var(--x) / var(--d) * 1px),
        calc(var(--y) / var(--d) * 1px)
      );
    }
  }
}

.slide__headline {
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  position: relative;
}

.slide__content {
  --d: 60;

  opacity: 0;
  padding: 4vmin;
  position: relative;
  transition: transform var(--base-duration) var(--base-ease);
  visibility: hidden;

  .slide--current & {
    animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
    visibility: visible;

    @media (hover: hover) {
      transform: translate(
        calc(var(--x) / var(--d) * -1px),
        calc(var(--y) / var(--d) * -1px)
      );
    }
  }

  > * + * {
    margin-top: 2rem;
  }
}

// =========================
// Animations
// =========================

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper-modal {
  
  .wrapper-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    .button-modal {
      padding: 10px;
      outline: none;
      border: none;
      background: #000;
      color: #fff;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1000px) {
    .slide__headline {
        font-size: 44px;
    }
}

@media screen and (min-width: 768px) {
  .wrapper-text {
    p {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .slider {
    --slide-size: 50vmin;
    width: var(--slide-size);
    height: var(--slide-size);
  }
}

@media screen and (max-width: 768px) {
    .slider {
      --slide-size: 65vmin;
      --slide-margin: 1vmin;
      width: var(--slide-size);
      height: var(--slide-size);
    }
  }